* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page {
    width: 100%;
    max-width:96rem;
    margin: 0 auto;
    background-color: #310bda;
}

input {
    display: none;
}
.mems {
    display: flex;
    overflow: hidden;
}

.frame {
    width: 100%;
    padding: 1vw 1vw 0 1vw;
    /* background-color: red; */
    transition: 1s linear;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.texts {
    width: 27rem;
    display: flex;
    overflow: hidden;
}

.btns {
    /* background-color: #00ff44; */
    display: flex;
    justify-content: end;
}

.text {
    width: 27rem;
    min-width: 27rem;
    font-size: 1.5rem;
    color: aliceblue;
    /* background-color: #a186ff; */
    text-align: center;
    line-height: 3;
    white-space: nowrap;
    transition: 1s linear;
}

label {
    padding: 1vw 1vw 1vw 1vw;
    cursor: pointer;
    margin: auto 0;
}

.div_btn {
    background-color: #ff3535;
    width: 1.8rem;
    height: 1.8rem;
    border: .2rem solid #000000;
    border-radius: 50%;
    transition: .2s linear;
}

/*BTN1*/

#btn-1:hover ~ .menu #div-btn-1{
    background-color: #c9c915;
}

#btn-1:active  ~ .menu #div-btn-1{
    background-color: #a600ff;
}

#btn-1:checked ~ .menu #div-btn-1{
    background-color: #000000;
}

#btn-1:checked ~ .mems .frame{
    transform: translateX(0%);
}

#btn-1:checked ~ .menu .texts .text{
    transform: translateX(0%);
}

/*BTN2*/

#btn-2:hover ~ .menu #div-btn-2{
    background-color: #c9c915;
}

#btn-2:active  ~ .menu #div-btn-2{
    background-color: #a600ff;
}

#btn-2:checked ~ .menu #div-btn-2{
    background-color: #000000;
}

#btn-2:checked ~ .mems .frame{
    transform: translateX(-100%);
}

#btn-2:checked ~ .menu .texts .text {
    transform: translateX(-100%);
}

/*BTN3*/

#btn-3:hover ~ .menu #div-btn-3{
    background-color: #c9c915;
}

#btn-3:active  ~ .menu #div-btn-3{
    background-color: #a600ff;
}

#btn-3:checked ~ .menu #div-btn-3{
    background-color: #000000;
}

#btn-3:checked ~ .mems .frame{
    transform: translateX(-200%);
}

#btn-3:checked ~ .menu .texts .text {
    transform: translateX(-200%);
}

/*BTN4*/

#btn-4:hover ~ .menu #div-btn-4{
    background-color: #c9c915;
}

#btn-4:active  ~ .menu #div-btn-4{
    background-color: #a600ff;
}

#btn-4:checked ~ .menu #div-btn-4{
    background-color: #000000;
}

#btn-4:checked ~ .mems .frame{
    transform: translateX(-300%);
}

#btn-4:checked ~ .menu .texts .text {
    transform: translateX(-300%);
}

/*BTN5*/

#btn-5:hover ~ .menu #div-btn-5{
    background-color: #c9c915;
}

#btn-5:active  ~ .menu #div-btn-5{
    background-color: #a600ff;
}

#btn-5:checked ~ .menu #div-btn-5{
    background-color: #000000;
}

#btn-5:checked ~ .mems .frame{
    transform: translateX(-400%);
}

#btn-5:checked ~ .menu .texts .text {
    transform: translateX(-400%);
}

@media screen and (max-width: 640px) {
    .menu {
        flex-wrap: wrap-reverse;
    }

    .texts {
        margin: 0 auto;
        width: 27rem;
    }

    .btns {
        margin: 0 auto;
    }

    .text {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .menu {
        justify-content: start;
    }

    .texts {
        /* min-width: none; */
        /* margin-left: 3vw; */
        margin: 0;
        width: 100vw;
    }
    .text {
        /* display: block; */
        min-width: 100vw;
        /* white-space: wrap; */
        font-size: 4vw;
        width: 100%;
        /* background-color: #fff; */
        /* width: 30rem; */
        /* padding/: 1vw; */
        /* padding: 0; */
        text-align: center;
        /* margin-right: 3rem; */
    }
}

